.searchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 25px;
    color: black;
    font-size: medium;
}

.input {
    background-color: #fff;
    margin-top: 8px;
    color: rgb(1, 13, 38);
    font-style: italic;
    font-size: medium;
    padding: 5px;
}